@import '../../assets/scss/variables';

.actionsheet {
    height: 0px;
    position: fixed;
    z-index: 1001;
    bottom: 0px;
    right: 0px;
    left: 0px;
    opacity: 1;
    font-size: 17px;
}

.container {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    transition: opacity 450ms ease 0s;
    pointer-events: auto;
    opacity: 0;
    background-color: black;
}

.containermounted {
    opacity: 0.54;
}

.will {
    flex-direction: column;
    transition: all 0s ease 0s;
    direction: ltr;
    display: flex;
    will-change: transform;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.157) 0px -6px 5px;
    transition: transform 450ms ease 0s;
    max-width: $layout-width;
    margin-left: auto;
    margin-right: auto;
    background: white;

    ul {
        list-style: none;
        margin: 0;
        padding: 11px 0;

    }

    li {
        &:hover,
        &:active {
            background-color: rgba(0, 0, 0, 0.15);
        }

        a {
            display: block;
            padding: 12px 25px;
        }
    }
}

:global(body.dark) {
    .will {
        background: #242424;

        li {

            &:hover,
            &:active {
                background-color: rgba(33, 150, 243, 0.3);
            }
        }
    }
}

.willmounted {
    transform: translate(0px, -100%);
}